!!! 5
%html
%head
  %title Pin Board
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

%body
  .nav.navbar.navbar-default
    .container
      .navbar-brand= link_to "Apps", root_path

      - if false
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "Account", "#" 
          %li= link_to "Sign Out", "#", :method => :delete
      - else
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "Sign Up", "#" 
          %li= link_to "Sign In", "#" 
  .container

    - flash.each do |name, msg|
      = content_tag :div, msg, class: "alert alert-info"

    = yield

