	<br>
	<p>
		<%= link_to article.title, article %>
</p>
	<p>
		<%= simple_format article.content %>
</p>
<p>
		Published on <%= article.published_at.strftime("%B %e, %Y") %>
</p>
<p>
	<%= article.hidden %>
</p>
<p>
	Category: <%= article.category.name %>
</p>
<p><%= link_to pluralize(article.cached_comments_count, "comment"), article %></p>
<p>
	Tags: <%= raw article.tags.map(&:name).map {|t| link_to t, tag_path(t)}.join(', ') %>
</p>
	<p>
		<%= link_to 'Show', article %> |
		<%= link_to 'Edit', edit_article_path(article) %> |
		<%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
	<p>


