
<%= div_for comment do %>
  <p><strong><%= comment.commenter %> says</strong></p>
  <%= simple_format comment.content %>

	<%= link_to "Edit", edit_article_comment_path(comment.article, comment) %> |
	<%= link_to "Delete", [comment.article, comment], :method => :delete, :data => { :confirm => "Are you sure?"} %>
<br>
<% end %>

