<!DOCTYPE html>
<html></html>
<head>
  <title>Pin Board</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="nav navbar navbar-default">
    <div class="container">
      <div class="navbar-brand">
        <%= link_to "Apps", root_path %>
      </div>
      <% if current_user %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "Account", "#" %>
          </li>
          <li>
            <%= link_to "Sign out", logout_path, :method => :delete %>
          </li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "Sign up", signup_path %>
          </li>
          <li>
            <%= link_to "Sign in", login_path %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-info" %>
    <% end %>
    <%= yield %>
  </div>
</body>

