<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

<% @articles.each do |article| %>
	<p>
		<%= article.title %>
  </p>
	<p>
		<%= article.content %>
  </p>
	<p>
		<%= article.published_at %>
  </p>
	<p>
		<%= article.hidden %>
  </p>
		<%= link_to 'Show', article %> |
		<%= link_to 'Edit', edit_article_path(article) %> |
		<%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<br>

<%= link_to 'New Article', new_article_path %>
