<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price in Cents</strong>
  <%= @product.price_in_cents %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>


<p>
  <strong>Released at:</strong>
  <%= @product.released_at %>
</p>

<p>
  <strong>Discontinued:</strong>
  <%= @product.discontinued %>
</p>

<p>
  <strong>Category:</strong>
	<%= @product.category.name %>
</p>

<p>
  <strong>Tags:</strong>
	<ul>
	<%- @product.tags.each do |tag| %>
		<li> <%= tag.name %> </li>
	<% end %>
	</ul>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
